
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;

$gray-100: #f7f7f7 !default;
$gray-200: #f2f2f2 !default;
$gray-300: #e6e6e6 !default;
$gray-400: #d0d0d0 !default;
$gray-500: #adb5bd !default;
$gray-600: #888888 !default;
$gray-700: #616161 !default;
$gray-800: #343a40 !default;
$gray-900: #212121 !default;

$theme-colors: (
    primary: $yellow,
    secondary: $gray-200,
    success: $green,
    info: $teal,
    warning: $orange,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
) !default;
