
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;

$gray-100: #f8f8f8 !default;
$gray-200: #f2f2f2 !default;
$gray-300: #e6e6e6 !default;
$gray-400: #d0d0d0 !default;
$gray-500: #b5b5b5 !default;
$gray-600: #888888 !default;
$gray-700: #616161 !default;
$gray-800: #3a3a3a !default;
$gray-900: #212121 !default;

$theme-colors: (
    primary: $yellow,
    secondary: $gray-200,
    success: $green,
    info: $teal,
    warning: $orange,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
) !default;

@each $weight in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
    .font-weight-#{$weight} {
        font-weight: $weight;
    }
}

@each $size in 12, 14, 16, 18, 20, 22, 24, 26, 32, 40, 48, 64, 80, 160, 240 {
    .font-size-#{$size} {
        font-size: #{$size}px;
    }
}

$grays: (
    100: $gray-100,
    200: $gray-200,
    300: $gray-300,
    400: $gray-400,
    500: $gray-500,
    600: $gray-600,
    700: $gray-700,
    800: $gray-800,
    900: $gray-900,
);

@each $gray, $color in $grays {
    .text-gray-#{$gray} {
        color: $color;
    }

    .bg-gray-#{$gray} {
        background-color: $color;
    }
}
